*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.Password-box{
    width: 600px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: #24232b;
    box-shadow: 2px 2px 0 #707070 ;
  }
   
  .password-font{
    font-size: 20px;
    font-weight: 700;
    color:#ffffff  ;
  } 
  .charLength{
    font-size: 20px;
    font-weight: 700;
    color: #707070;
    margin-top: 32px;
  }
  .checkbox{
    font-size: 16px;
    font-weight: 700;
    color: #707070;
    margin-left: 24px;
  }
  .checkbox input[type =checkbox]{
    padding: 2px;
    width: 40px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
   
}
button{
    margin: 0 24px;
    margin-top: 32px;
    height: 50px;
    width: 90%;
    background-color:#2a8b8b;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 10px;
   
}
button:hover{
    cursor: pointer;
    background-color: #0e4444;
}
.charDisplay{
    display: flex;
    justify-content:space-between ;
}
.stick{
    width: 88%;
    margin:0 24px;
}
.margin-Top24{
    margin-top: 24px;
}
.checkbox{
    margin-bottom: 12px;
}
.indicator{
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.indicator span{
    width: 100%;
    height:100%;
    background: lightgray;
    border-radius: 2px;
}

.medieum{
    margin: 0 3px;
}
  
  .strength-bar.red {
    background: red;
  }
  
  .strength-bar.yellow {
    background: yellow;
  }
  
  .strength-bar.green {
    background: green;
  }